html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 377px;
}

body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #e9ebee;
}

#content {
	margin: 0px auto;
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	padding-bottom: 50px;
}

#wrapper {
	background-color: white;
	padding: 50px 0px 50px 0px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

#left {
	width: 400px;
}

#right {
	width: 400px;
}

nav {
	background: rgba(35, 61, 77, 0.81);
	text-transform: uppercase;
	color: #92b0b3;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

nav > ul > li {
	display: inline-block;
	padding: 25px 1.2em;
	white-space: nowrap;
	position: relative;
}

nav a {
	color: #92b0b3;
	text-decoration: none;
}

nav a:hover {
	color: white;
}

nav a:hover > * {
	fill: white;
}

nav .svg {
	fill: #92b0b3;
	height: 1.2em;
	width: 1.2em;
	display: block;
	float: right;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%; /*sets the top edge of the element above/below top edge of nearest ancestor*/
}

nav ul li:hover > ul {
	display: block;
}

nav ul ul li {
	float: none;
	background: rgba(35, 61, 77, 0.81);
	padding: 10px;
	text-align: center;
}

nav ul ul li a {
	color: #92b0b3;
}

nav ul ul li a:hover {
	color: white;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@media screen and (max-width: 860px) {
	nav h1 {
		margin-top: 25px;
	}
	pre#response {
		margin: 30px 0;
	}
}

@media screen and (max-width: 477px) {
	nav h1 {
		font-size: 14px;
	}
	nav ul {
		font-size: 12px;
	}
}

@media screen and (max-width: 410px) {
	nav > ul > li {
		padding: 0 .5em 15px;
	}
}

@media screen and (max-width: 390px) {
	#wrapper {
		padding: 50px 0;
	}
}

h1 {
	color: #92b0b3;
	font-weight: 500;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	margin: 0;
}

.line {
	display: inline-block;
	width: 35px;
	height: 30px;
	border-radius: 15px;
	background-color: #0c89ba;
}

.loading {
	margin-top: 35px;
	margin-left: 10px;
	float: left;
}

.loading-hidden {
	display: none;
}

.loading .line:nth-last-child(1) {
	animation: loadingB 1.5s 1s infinite;
}

.loading .line:nth-last-child(2) {
	animation: loadingB 1.5s .5s infinite;
}

.loading .line:nth-last-child(3) {
	animation: loadingB 1.5s 0s infinite;
}

@keyframes loadingB {
	0% {
		width: 15px;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 50px;
		background-color: #e3e3e3;
	}
}

#divResponse {
	width: 100%;
}

#divResponse pre {
	display: flex;
	flex-direction: column;
	color: #333;
	min-height: 80px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 7px;
	font-size: 12px;
	overflow: auto;
	margin: 30px 0;
}
