html {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 5px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #e9ebee;
}

#content {
	margin: 40px auto;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	padding-bottom: 50px;
}

h1 {
	display: inline-block;
	color: #92b0b3;
	font-weight: 500;
	font-size: 1.2em;
	margin-left: 25px;
}

.line {
	display: inline-block;
	width: 35px;
	height: 30px;
	border-radius: 15px;
	background-color: #0c89ba;
}

.loading {
	margin-top: 35px;
	margin-left: 10px;
	float: left;
}

.loading-hidden {
	display: none;
}

.loading .line:nth-last-child(1) {
	animation: loadingB 1.5s 1s infinite;
}

.loading .line:nth-last-child(2) {
	animation: loadingB 1.5s .5s infinite;
}

.loading .line:nth-last-child(3) {
	animation: loadingB 1.5s 0s infinite;
}

@keyframes loadingB {
	0% {
		width: 15px;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 50px;
		background-color: #e3e3e3;
	}
}

#divResponse {
	width: 100%;
}

#divResponse pre {
	display: flex;
	flex-direction: column;
	color: #333;
	min-height: 80px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 7px;
	font-size: 12px;
	overflow: auto;
	margin: 30px 0 0;
}

#wrapper {
	background-color: white;
	margin: 0px auto 30px;
	padding: 50px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

#wrapper > div {
	margin: 0 10px;
}

#left {
	width: 400px;
}

#right {
	width: 400px;
}

nav {
	text-align: justify; /*requried for justify-vcenter fix*/
	height: 6em; /*requried for justify-vcenter fix*/
	background: rgba(35, 61, 77, 0.81);
	text-transform: uppercase;
	color: #92b0b3;
	width: 100%;
}

nav::after {
	content: '';
	display: inline-block;
	width: 100%;
}

nav > a,
nav > a::before,
nav > ul,
nav > a img {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
} /*requried for justify-vcenter fix*/

nav > a {
	height: 100%;
}

nav > a::before {
	content: '';
	height: 100%;
}

nav ul {
	list-style: none;
	position: relative;
	margin-right: 35px;
}

nav > ul > li {
	display: inline-block;
	padding: 0 1.2em;
	white-space: nowrap;
}

nav a {
	color: #92b0b3;
	text-decoration: none;
}

nav a:hover {
	color: white;
}

nav a:hover > * {
	fill: white;
}

nav .svg {
	fill: #92b0b3;
	height: 1.2em;
	width: 1.2em;
	display: block;
	float: right;
}

nav > ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%; /*sets the top edge of the element above/below top edge of nearest ancestor*/
}

nav ul li:hover > ul {
	display: block;
	margin-left: -40px;
}

nav ul ul li {
	float: none;
	background: rgba(35, 61, 77, 0.81);
	padding: 10px;
	text-align: center;
}

nav ul ul li a {
	color: #92b0b3;
}

nav ul ul li a:hover {
	color: white;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@media screen and (max-width: 942px) {
	pre#response {
		margin: 30px 0;
	}
}
