#wrapper {
  width: 40%;
  margin: 35px 40px;
  margin-top:40px;
  display: block;
  float: left;
}

#fileDropBox {
  padding: 25px 15px 15px 15px;
  width: 450px;
  line-height: 5em;
  text-align: center;
  color: gray;
  border-radius: 7px;
  color: #0f3c4b;
  background-color: #e5edf1;
  outline: 1px dashed gray;
  outline-offset: -6px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.box_icon {
      width: 100%;
      height: 60px;
      display: block;
      vertical-align: middle;
      text-align: center;
      fill: #92b0b3;
}

.box_file {
    position: absolute;
}

#fileDropBox label {
  cursor: pointer;
  //display: inline-block;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //pointer-events: none;
}

#fileDropBox label:hover, #fileDropBox label:focus {
  background: #207ab6;
  cursor: pointer;
}

    input[type='file'] {
      display: none
    }


    #fileDropBox label {
      background-color: #3498db;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      margin: 10px;
      padding: 6px 20px
    }


    .box_button {
      border: 0;
      outline: none;
      border-radius: 0;
      padding: 5px 13px;
      margin: 35px 35px 90px 40px;
      float: left;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .1em;
      background-color: #3498db;
      color: #ffffff;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-appearance: none;
      box-shadow: 0 2px 5px 2px rgba(19, 35, 47, 0.3);
      border-radius: 5px;
    }

    .box_button img {
      margin-bottom: -2px;
      margin-left: 2px;
      width: 18px;
    }

    .box_button:hover, .box_button:focus {
      background: #207ab6;
      cursor: pointer;
    }



    #list .uploaded {
      text-decoration: none;
      color: #3498db;
    }

    #list .uploaded:hover {
      color: #207ab6;
      cursor: pointer;
    }



    #list ul {
      margin: 20px 0px;
      list-style-type: none;
      padding-inline-start: 0px;
      //padding-bottom:7px;
      color: #687b9d;
    }

    #list li {
      width: 450px;
      background-color: #f2f3f5;
      border: 1px solid #dbdbdb;
      padding: 5px 0px 6px 8px;
      margin: 3px 0 0 2px;
      word-wrap: break-word;
      font-size: 14px;
    }

    .removeItem {
      color: red;
      font-size: 20px;
      text-decoration: none;
    }

    .removeItem:hover {
      font-weight: bold;
      cursor: pointer;
    }

    spam#fileProperties {
      color: #687b9d;
    }

    spam#info {
      color:#92b0b3;
    }


    *, *:before, *:after {
      box-sizing: border-box;
    }
